li {

  align-items: center;
  display:flex;
  flex-direction:row;
  font-size: .75em;
  margin: .75em .5em;

  span {
    cursor:pointer;
    transition-duration: .15s;
    &:hover {
      border: 2px solid pink;
    }
  }

  span, input {
      border: 2px solid seagreen;
      display:inline-block;
      padding: .2em .25em;
      width: 300px;
  }

}

.complete-true span {
  border: 2px solid pink;
  text-decoration:line-through;
  transition-duration: .15s;
  &:hover {
    border: 2px solid seagreen;
  }
}